<ion-view class="rate" hide-nav-bar="true" cache-view="false">
  <ion-content>
    <div class="hero text-center" ng-if="orders.length > 0">
      <img src="./img/logo.png" alt="" class="img-responsive">
      <h4 class="positive">Thank You for using <span style="white-space: nowrap">KAI Access</span></h4>
      <p class="gray">Please rate and review our service for <strong ng-click="showDetail = !showDetail" class="energized">your trip</strong></p>
    </div>
    <div class="loading text-center" ng-if="isLoading">
      <ion-spinner></ion-spinner>
    </div>
    <ion-list class="info text-center" type="card" ng-if="data.err_code>0">
      <ion-item class="item-divider">
        Error
      </ion-item>
      <ion-item class="item-text-wrap">
       <p>{{ data.err_msg }}</p>
      </ion-item>
    </ion-list>
    <div class="list card info" ng-if="data.err_code===0" ng-show="showDetail">
      <ion-item class="item-divider">
        Train
        <!-- <span class="item-note" ng-click="doRefresh()"><i class="icon ion-refresh"></i></span> -->
      </ion-item>
      <ion-item class="item-icon-right">
        <h2>{{data.book_code}}</h2>
        <i class="icon ion-ios-barcode-outline positive"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        <h2>{{data.train_name}} {{data.train_no}}</h2>
        <i class="icon ion-android-train positive"></i>
      </ion-item>
      <ion-item>
        <p>Departing</p>
        <h2>{{data.org}} <span class="label item-right"><i class="icon ion-android-time"></i> {{data.dep_date + data.dep_time | amParse:'DD-MMM-YYHHmm' | amDateFormat:'D MMM YYYY, HH:mm'}}</span></h2>
        <i class="icon ion-arrow-down-b positive"></i>
        <p>Arrival</p>
        <h2>{{data.des}} <span class="label item-right"><i class="icon ion-android-time"></i> {{data.arv_date + data.arv_time | amParse:'DD-MMM-YYHHmm' | amDateFormat:'D MMM YYYY, HH:mm'}}</span></h2>
      </ion-item>
      <ion-item class="item-divider">
        Passenger <span class="item-note positive">{{data.pax_list.length}}</span>
      </ion-item>
      <ion-item ng-repeat="pax in data.pax_list track by $index">
        <h2>{{pax[0]}}</h2>
        <p></p>
        <p ng-if="pax[8] !== ''"><span class="label positive">{{pax[7]}}</span> <span class="label energized">{{pax[8]}}</span></p>
      </ion-item>
    </div>
    <div class="list card info animate-switch" ng-repeat="order in orders" ng-if="orders.length > 0">
      <ion-item class="item-divider">
        {{order.nota}} ({{order.direction}})
        <span class="item-note"><i class="icon" ng-class="order.kategori==='taxi'?'ion-model-s positive':'ion-briefcase energized'"></i></span>
      </ion-item>
      <ion-item>
        <div class="rating">
          <input-stars max="5" icon-base="ion-android-star" ng-model="order.rating"></input-stars>
        </div>
      </ion-item>
      <label class="item item-input">
        <textarea placeholder="Review" ng-model="order.review" rows="5"></textarea>
      </label>
      <ion-item>
        <button class="button button-block button-positive" ng-click="doRate(order)">
          Submit
        </button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>